{% extends 'base.html.twig' %}

{# {% block title %}Hello HomeController!{% endblock %} #}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>
			Welcome to Quiz Competition
		</h1>
		<div>
			{% if app.user %}
				Hi,
				{{ app.user.getName}}
				<div>
					<a href="{{path('app_dashboard')}}">
						<button>My Profile</button>
					</a>
				</div>
			{% else %}
				<div>
					<a href="{{ path('app_login') }}">
						<button>Login</button>
					</a>
				</div>
				<div>
					<a href="{{ path('register-user') }}">
						<button>Register</button>
					</a>
				</div>
			{% endif %}
		</div>
	</div>

	{# <div class="example-wrapper">
								{% for question in questions %}
									<div>
										<div>
											{{ loop.index }}
											)
											{{ question.question}}
										</div>
										<div>
											{% if app.user %}
												<a href="#">
													<button>Answer question</button>
												</a>
											{% endif %}
										</div>
									</div>
								{% endfor %}
							</div> #}
	<div class="example-wrapper">
		<div>
			List of Categories
		</div>
		{% for categorie in categories %}
			<div>
				(
				{{loop.index}}
				)
				<a href="#">
					<button>{{categorie.name}}</button>
				</a>
			</div>
		{% endfor %}
	</div>

{% endblock %}
